.main-container {
  width: 90%;
  margin: auto;
  
}

.main-container span {
  color: #a9508b;
}

.main-container .header {
  width: 90%;
}

.main-container .header .headerup {
  position: static;
  height: 80px;
  width: 111.1%;
  background-color: #35424a;
  color: white;
  display: inline-block;
  border-bottom: 2px solid #a9508b;
}

.main-container .header .headerup .headerupleft {
  padding: 25px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  float: left;
}

.main-container .header .headerup .headerupright {
  float: right;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .header .headerup a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.main-container .header .header-middle {
  margin: auto;
  position: relative;
  width: 111.1%;
  top: -4px;
  height: 430px;
}

.main-container .header .header-middle img {
  width: 100%;
  height: 550px;
  top: -70px;
  position: relative;
  background-attachment: fixed;
  z-index: -1;
}

.main-container .header .header-middle .hmtop {
  position: relative;
  top: -400px;
  text-align: center;
  color: white;
  z-index: 999;
}

.main-container .header .header-middle .hmtop #hmt1 {
  padding: 30px;
  font-size: 32px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .header .header-middle .hmtop #hmt2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .header .header-bottom {
  position: relative;
  top: -4px;
  height: 80px;
  width: 111.10%;
  background-color: #35424a;
  color: white;
  display: inline-block;
}

.main-container .header .header-bottom .headerbottomleft {
  padding: 25px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  float: left;
}

.main-container .header .header-bottom .headerbottomright {
  float: right;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .header .header-bottom .headerbottomright button {
  width: 70px;
  height: 30px;
  background-color: red;
  color: white;
}

.main-container .header .header-bottom .headerbottomright #email {
  width: 200px;
  height: 30px;
}

.main-container .main {
  position: relative;
  top: 10px;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .main .main-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main .main-boxes img {
  width: 80px;
  height: 80px;
}

.main-container .main .main-boxes #box1 {
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .main .main-boxes #box2 {
  padding: 10px;
  font-size: small;
  width: 400px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #35424a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -25px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .footer img {
  width: 150px;
  position: relative;
  top: 30px;
  

  
}

.main-container .footer .copyright {
  display: inline-block;
  position: relative;
  top: 20px;
  text-align: center;
}



.main-container .secondpage {
  position: relative;
  width: 100%;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .secondpage .part1 {
  position: relative;
  
  width: 60%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  
}

.main-container .secondpage .part1 #hmt3 {
  padding: 30px;
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .secondpage .part1 #page2part1 {
  padding: 0 30px 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .secondpage .part1 #page2part2 {
  color: white;
  width: 90%;
  margin-left: 30px;
  padding: 20px 40px 20px 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #35424a;
}

.main-container .secondpage .part2 {
  position: relative;
  top: 20px;
  width: 40%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.main-container .secondpage .part2 #hmt3 {
  padding: 30px;
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .secondpage .part2 #page2part2 {
  width: 85%;
  height: 200px;
  padding: 30px 30px 10px 10px;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #35424a;
}

.thirthpage {
  position: relative;
  width: 100%;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirthpage .page3 {
  position: relative;
  margin-left: 30px;
  width: 60%;
  height: 300px;
}

.thirthpage .page3 #hmt3 {
  padding: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.thirthpage .page3 .page3part1 {
  margin-top: 15px;
  padding: 30px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-family: Arial, Helvetica,sans-serif;
  background-color: #e6e6e6;
}

.thirthpage .page3 #span1 {
  color: black !important;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.page3_2 {
  width: 30%;
  height: 320px;
  margin: 20px 20px 0 0;
  padding: 20px;
  background-color: #35424a;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.page3_2 #last {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.page3_2 #Name {
  width: 90%;
  height: 40px;
}

.page3_2 #message {
  width: 90%;
  height: 40px;
}
.page3_2 #email2 {
  width: 90%;
  height: 40px;
}

.page3_2 #send {
  background-color: red;
  color: white;
  padding: 10px;
  width: 70px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
}
/*# sourceMappingURL=index.css.map */


@media screen and (max-width:1024px)  {
  .main-container .header .headerup {
    height: 60px;
  }
  .main-container .header .header-middle {
    margin: auto;
    position: relative;
    width: 111.1%;
    top: -4px;
    height: 430px;
  }
  .main-container .header .header-middle img {
    height: 550px;
  }
  .main-container .header .header-bottom {
    top: -4px;
    height: 60px;
  }
  .main-container .header .header-bottom .headerbottomleft {
    padding: 18px;
    font-size: 20px;
  }
  .main-container .header .header-bottom .headerbottomright {
    position: relative;
    top: -10px;
  }
  .main-container .header .header-bottom .headerbottomright #email {
    width: 200px;
    height: 30px;
  }
  .main-container .main .main-boxes img {
    width: 60px;
    height: 60px;
  }
  .main-container .main .main-boxes #box1 {
    padding: 6px;
  }
  .main-container .main .main-boxes #box2 {
    padding: 6px;
    width: 300px;
    
  }
  .main-container .footer {
    height: 70px;
  }
  .main-container .footer img {
    width: 100px;
    top: 25px;
  }
  .main-container .footer .copyright {
    top: 15px;
    font-size: 0.7em;
  }
  .thirthpage .page3 .page3part1 {
    padding: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width:768px)  {
  .main-container .header .headerup {
    height: 50px;
  }
  .main-container .header .headerup .headerupleft {
    padding: 15px;
    font-size: 20px;
  }
  
  .main-container .header .headerup .headerupright {
    padding: 15px;
  }
  .main-container .header .header-middle {
    margin: auto;
    position: relative;
    width: 111.1%;
    top: -4px;
    height: 350px;
  }
  .main-container .header .header-middle img {
    height: 450px;
  }
  .main-container .header .header-bottom {
    top: -4px;
    height: 50px;
  }
  .main-container .header .header-bottom .headerbottomleft {
    padding: 15px;
    font-size: 20px;
  }
  .main-container .header .header-bottom .headerbottomright {
    position: relative;
    top: -17px;
  }
  .main-container .header .header-bottom .headerbottomright #email {
    width: 200px;
    height: 30px;
  }
  .main-container .main .main-boxes img {
    width: 50px;
    height: 50px;
  }
  .main-container .main .main-boxes #box1 {
    padding: 6px;
  }
  .main-container .main .main-boxes #box2 {
    padding: 6px;
    width: 200px;
    
  }
  .main-container .footer {
    height: 70px;
  }
  .main-container .footer img {
    width: 100px;
    top: 25px;
  }
  .main-container .secondpage {
    position: relative;
    width: 100%;
    height: 530px;
  }
  .main-container .secondpage .part1 {
    position: relative;
    
    width: 55%;
    height: 300px;
  }
  .main-container .secondpage .part1 #hmt3 {
    padding: 20px;
    font-size: 18px;
    margin-left: 10px;
  }
  .main-container .secondpage .part1 #page2part1 {
    padding: 0 30px 20px;
    font-size: 16px;
  }
  .main-container .secondpage .part1 #page2part2 {
    font-size: 16px;

  }
  .main-container .secondpage .part2 #page2part2 {
    width: 95%;
    height: 200px;
    font-size: 16px;
  }
  .main-container .footer .copyright {
    top: 15px;
    font-size: 0.7em;
  }
  .thirthpage .page3 .page3part1 {
    padding: 10px;
    font-size: 14px;
  }
  .thirthpage .page3 {
    width: 50%;
  
  }
  .page3_2 {
    width: 40%;
  }
}
@media screen and (max-width:425px)  {
  .main-container .header .headerup {
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: -1;
    overflow: visible;
  }
  .main-container .header .headerup .headerupleft {
    padding: 10px;
    font-size: 15px;
  }
  .main-container .header .headerup .headerupright {
    padding: 10px;
    font-size: 14px;
    z-index: 999;
    overflow: hidden;
  }
  .main-container .header .header-middle {
    height: 250px;
  }
  .main-container .header .header-middle img {
    height: 350px;
  }
  .main-container .header .header-middle .hmtop #hmt1 {
    
    position: relative;
    top: 100px;
    padding: 10px;
    font-size: 24px;
  }
  
  .main-container .header .header-middle .hmtop #hmt2 {
    font-size: 18px;
    top: 120px;
    position: relative;
  }
  .main-container .header .header-bottom {
    top: -4px;
    height: 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }
  .main-container .header .header-bottom .headerbottomright {
    position: relative;
    top: -30px;
  }
  .main-container .footer {
    top: 250px;
    height: 50px;
  }
  .main-container .footer img {
    width: 100px;
    top: 17px;
  }
  .main-container .secondpage {
    position: relative;
    width: 100%;
    height: 630px;
  }
  .main-container .secondpage .part1 {
    position: relative;
    width: 55%;
    height: 300px;
  }
  .main-container .secondpage .part1 #hmt3 {
    padding: 20px;
    font-size: 16px;
    margin-left: 10px;
  }
  .main-container .secondpage .part1 #page2part1 {
    padding: 0 30px 20px;
    font-size: 14px;
  }
  .main-container .secondpage .part1 #page2part2 {
    font-size: 14px;
    display: inline-block;

  }
  .main-container .secondpage .part2 #page2part2 {
    width: 95%;
    height: 250px;
    font-size: 14px;
  }
  .thirthpage {
    width: 100%;
    margin-left: -15px;
  }
  .thirthpage .page3 .page3part1 {
    padding: 8px;
    font-size: 12px;
    width: 80%;
  }
  .thirthpage .page3 {
    width: 45%;
  
  }
  .page3_2 {
    width: 50%;
    margin-right: -15px;
  }
}


